/* Color Palette
Light Pink: FEBCCA
Pink: F3869D
Light Blue: 96C5D5
Blue: 5A94A8
Dark Blue: 586077 */

@charset "UTF-8";
/* CSS Document */

/* Stylesheet */
/*==============================
	Structure & Layout 
==============================*/
img {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 960px;
}

  body{
	background: url("../img/pw_maze_white.png");
	font-family: 'Source Sans Pro', sans-serif;	
}

h1{
	color: #343434;
	font-size: 5em;
	font-family: 'Source Sans Pro', sans-serif;
}

h3{
	color: #5A94A8;
	padding: 10px 0 0 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h4 {
	padding: 0;
	margin: 0;
}

p{
	padding: 0 50px 0 0;
	line-height: 25px;
}

/*==============================
	Logo
==============================*/
#logo{
	height: 150px;
	width: auto;
	margin: 25px 0 0 50px;
}

/*==============================
	Navigation
==============================*/
nav a:link,
nav a:visited{
	color: #fff;
}

nav a:hover{
	color: #000;
}

nav ul li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 50px 0 50px;
	line-height: 30px;
}

footer ul li {
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 15px 0 15px;
}

ul {
	padding-left: 20px;
}


li {
	list-style-type: square;
}

nav {
	background: #F3869D;
	height: 60%;
	padding: 5px 0 5px 0;
	width: 100%;
	font-size: 1.25em;
}

nav ul {
width: 100%;
list-style: none;
}

nav ul li {
float: left;
}

nav ul li a {
display: block;
text-decoration: none;
}

quote{
	text-align: center;
	width:100%;
	height:auto;
	font-size:40px;
	padding: 0px 0px 0px 0px;		
}

#blockquote{
	font-style: normal;
	vertical-align: top;
	font-size: 150px;
	padding: 0px 0px 0px 0px;
}

#floater{
	font-style: normal;
	vertical-align: top;
	font-size: 150px;
	float: right;
	padding: 0px 0px 0px 0px;
}

nav a{
  background: url("../img/sprite.png") no-repeat 0 0; 
  display: block;
  padding: 0 0 0 40px;
  height: 32px;

}

nav a:hover {
 	background: url("../img/sprite.png") no-repeat 0 -32px;

}	

nav li:nth-child(2) a {
	background-position: 0 -68px;
}
	
	
nav li:nth-child(2) a:hover {
	background-position: 0 -98px;
}	

nav li:nth-child(3) a {
	background-position: 0 -130px;
}
	
	
nav li:nth-child(3) a:hover {
	background-position: 0 -162px;
}

nav li:nth-child(4) a {
	background-position: 0 -195px;
}
	
	
nav li:nth-child(4) a:hover {
	background-position: 0 -226px;
}
/*==============================
	Images
==============================*/
#kyraimg{
	width: 125%;
	height: auto;
	padding: 35px 0px 0px 0px;
}

/*==============================
	Resume Page
==============================*/






/*==============================
	Gallery Page
==============================*/
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

#slideshow img {
        padding: 0;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  max-height: auto;
  overflow: hidden;
  text-align: center;
 
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color 5s;
}

/*==============================
	Contact Page
==============================*/
form{
	padding-top: 5px;
	margin-left: 50px;
}

button{
  background:red;
  border-radius: 10px;
  border: none;
}

button-hover{
  box-shadow: 2px 2px 2px gray;
}

textarea{
  width: 50%;
  height: 100%;
  
}

h2{
	padding-top: 60px;
	font-family: 'Source Sans Pro', sans-serif;
}
/*==============================
	Footer
==============================*/
footer{
	padding: 7px 0px 5px 0px;
	text-align:center;
	background:#F3869D;
	margin-top: 20px;
	
}

#facebook{
	width:3%;
	height: auto;
}

#instagram{
	width: 3%;
	height: auto;
}

#linkedin{
	width: 3%;
	height: auto;
}

#pinterest{
	width: 3%;
	height: auto;
}


/*media queries*/
@media screen and ( max-width: 1024px ) {

	body{
		background: red;
	}
	
	p{
		font-size: 1em;
		margin: 5px;
	}
	
	li{
		list-style: none;
		text-align:center;
		display: inline;
		margin: 0 50px 0 50px;
}
	nav ul li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 50px 0 50px;
}
	
} /* END OF DESKTOP */



/* TABLET */

@media screen and ( max-width: 768px ) {

	body{
		background: green;
	}
	
	h1{
		text-align: center;
		float: none;
		font-size: 4em;
		margin-top: 65px;
	}
	
	#logo{
		height: 150px;
		width: auto;
		margin: 25px 0 25px 50px;
		float:left;
}
	
	p{
		font-size: 1em;
		margin: 10px;
	}
	
li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 70px 0 70px;
}


nav{
	background: none;
	height: 40%;
	padding: 5px 0 5px 0;
	top: 42px;
	width: 100%;
	font-size: 1.5em;
}

h3{
	margin: 0 0 0 5px;
}

footer{
	background: none;
}

nav ul li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 20px 0 20px;
}

}
/* PHONE */

@media screen and ( max-width: 480px ) {
	
	body{
		background: blue;
	}
	
	footer{
	padding: 15px 0px 10px 0px;
	text-align: center;
	display: inline;
	background: none;
}

#facebook{
	width:3%;
	height: auto;
}

#instagram{
	width: 3%;
	height: auto;
}

#linkedin{
	width: 3%;
	height: auto;
}

#pinterest{
	width: 3%;
	height: auto;
}

ul{
	list-style: none;
	line-height: 20px;
	display: inline;
	
}
	
	h3{
		clear: both;
	}

li{
	list-style: none;
	text-align: center;
	display: inline-block;
	
}


nav{
	background: none;
	height: 30%;
	padding: 15px 0 15px 0;
	top: 42px;
	width: 100%;
	font-size: 1.5em;
	line-height: 1em;
}
	
	#logo{
	height: 150px;
	width: auto;
	margin: 25px 0 0 50px;
	float: left;
}

nav ul li{
	list-style: none;
	text-align:center;
	display: block;
	margin: 0 10px 0 10px;
	float: none;
}

} /* END OF PHONE */
